<!--
  Generated template for the ProductsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Listagem de Produtos</ion-title>
      <ion-buttons end>
        <button ion-button icon-only clear navPush="MyCart">
          <ion-icon name="cart"></ion-icon>
          <ion-badge>{{cartProvaider.items.length}}</ion-badge>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <hr>
  <!--<ion-list *ngIf= "(products|async)?.length>0;else loading">-->

  <ion-list *ngIf= "products|async;else loading">
    <ion-item *ngFor="let produto of products | async">
      <ion-thumbnail item-start navPush="ProductDetail" [navParams]="{product:produto.id}">
        <img [src]="produto.picture">
      </ion-thumbnail>
      <h2 [innerHTML]="produto.name"></h2>
      <p [innerHTML]="'R$ '+produto.price"></p>
      <button ion-button item-end icon-only clear (click)="addItem(produto)">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-item>
  </ion-list>


  <ng-template #loading>
      <h2>Carregando...</h2>
    </ng-template>


</ion-content>
